.dabba{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 70em;
    perspective-origin: -100px -40px;
}
.dabba2::-webkit-scrollbar{
    display: none;
}
.cube3d {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    min-height: 65vh;
    align-items: center;
    justify-content: center;
}
.orange-bg {
    background-color: orange; /* Set the desired background color for the first 4 cards */
  }
  
  .vertical-line {
    border-left: 2px dashed white; /* Set the desired style for the vertical dotted line */
    height: 100%;
  }
.top,
.bottom,
.left,
.right,
.front,
.back {
    height: 8em;
    width: 8em;
    position: absolute;
}

.front {
    transform: translateZ(4em);
    
}

.back {
    transform: translateZ(-4em);
}


.top {
    transform: translateY(-4em) rotateX(90deg);
}

.bottom {
    transform: translateY(4em) rotateX(90deg);
}

.right {
    transform: translateX(4em) rotateY(90deg);
}

.left {
    transform: translateX(-4em) rotateY(90deg);
}